body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    height: 100%;
    flex: 1;
    padding: 0;
    margin: 0;
}

button {
    flex: none;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: #e5e7eb;
    font-weight: bold;
}

.quadrant {
    display: flex;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
}

#hero-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 1200px;
}

#hero-image {
    width: 500px;
    height: auto;
}


#hero, .footer {
    background-color: #1f2937;
}

#hero {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.hero-section {
    margin-bottom: 80px;
    justify-content: space-between;
}

.hero-block {
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

#quote {
    background-color: #e5e7eb;
    justify-content: center;
    padding: 80px;
}

.quote-block {
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    flex: 1;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-attribution {
    font-size: 18px;
    font-weight: 600;
    align-self: flex-end;
}

#call-to-action, button {
    background-color: #3882f6;
}

.header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-subtext, .nav-link {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    gap: 18px;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.footer {
    justify-content: center;
    padding: 18px;
    justify-self: end;
    margin-top: auto;
}

.footer-text {
    color: #f9faf8;
    font-size: 12px ;
}